*.a
*.o
*.out
*.gch
*.sequence

deploy/output/*
deploy/snapshots/*
deploy/sequences/*

app/executer/executer
app/sequencer/sequencer
app/compare/compare

gpa/app/gpa_matching

deploy/executer
deploy/sequencer
deploy/compare
deploy/gpa_matching

lib/gpa*
